:root {
  --font-color: hsl(200, 15%, 8%);
  --bg-color: hsl(0, 0%, 98%);
  --el-color: hsl(0, 0%, 100%);
  --shadow-color: lightgray;
}

.dark-theme {
  --font-color: hsl(0, 0%, 100%);
  --bg-color: hsl(207, 26%, 17%);
  --el-color: hsl(209, 23%, 22%);
  --shadow-color: #202020;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
}
/* .App {
  background-color: var(--bg-color);
} */
