* {
  margin: 0;
  padding: 0;
}
.card {
  margin: 30px;
  height: 320px;
  width: 264px;
  text-align: start;
  box-shadow: 3px 3px 3px lightgray;
  background-color: white;
  border-radius: 8px;
  text-decoration: none;
  color: black;
}

.card > img {
  height: 160px;
  width: 264px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card__shortInfo {
  margin-left: 10px;
}
.card__shortInfo > h3 {
  margin: 10px 0;
}

.card__shortInfo-criteria {
  font-weight: bold;
}
