.countryDetails__container {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  width: 90%;
  margin: auto;
  align-content: center;
}
.countryDetails {
  display: flex;
  justify-content: center;
}
.countryDetails__flag {
  max-width: 400px;
  max-height: 300px;
  object-fit: contain;
  margin: 0 auto;
  box-shadow: 3px 3px 3px var(--shadow-color);
}
.countryDetails__description {
  margin: 0 auto;
  padding-left: 30px;
  margin-left: 50px;
}
.countryDetails__description-name {
  margin: 30px 0 10px 0;
}

.countryDetails__description-info {
  display: flex;
  margin: 5px 0;
  flex-direction: row;
}
.countryDetails__description-criteria {
  font-weight: 600;
}

.countryDetails__description-container {
  width: 100%;
  display: flex;
  padding-right: 0;
  margin-right: 0;
  justify-content: space-between;
}
.countryDetails__bCountries {
  margin-top: 30px;
}
.countryDetails__borderCountries {
  background-color: var(--el-color);
  color: var(--font-color);
  box-shadow: 3px 3px 3px var(--shadow-color);
  min-width: 70px;
  height: 30px;
  border: none;
  border-radius: 4px;
  margin: 10px;
  padding: 0 10px;
}
.bCountries {
  margin: auto 0;
}
.btn {
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  background-color: var(--el-color);
  color: var(--font-color);
  border-radius: 4px;
  border: none;
  box-shadow: 3px 3px 3px var(--shadow-color);
  margin: 50px auto 50px 50px;
}

.btn:hover {
  cursor: pointer;
}
.btn-content {
  margin: auto 20px;
}
.btn-arrow {
  font-size: 25px;
  margin-top: 7px;
  margin-right: 5px;
}
.btn > p {
  margin: auto 0;
  text-decoration: none !important;
}

.link-button {
  text-decoration: none;
}
.countryDetails__description-column2 {
  margin-top: 70px;
}

@media only screen and (max-width: 1044px) {
  .countryDetails {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .countryDetails__description,
  .countryDetails__description-column2 {
    margin-top: 20px;
    margin-left: 0px;
  }
  .countryDetails__description-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .countryDetails__flag {
    width: 100%;
  }
  .btn {
    margin: 20px 0 20px 0;
  }
  .countryDetails__description {
    margin-top: 0;
  }
  .countryDetails__bCountries {
    flex-direction: column;
  }
}
