.countryDetails__container {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  width: 90%;
  margin: auto;
  align-content: center;
}
.countryDetails {
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
}
.countryDetails__flag {
  width: 400px;
  height: 300px;
  object-fit: contain;
  margin: 0 auto;
}
.countryDetails__description {
  margin: 0 auto;
}
.countryDetails__description-name {
  margin: 10px 0;
}

.countryDetails__description-info {
  margin: 5px 0;
}
.countryDetails__description-criteria {
  font-weight: 600;
}

.countryDetails__description-container {
  display: flex;
}
.countryDetails__description-column2 {
  margin-left: 50px;
}
button {
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  background-color: var(--el-color);
  color: var(--font-color);
  border-radius: 4px;
  border: none;
  box-shadow: 3px 3px 3px var(--shadow-color);
  margin: 50px auto 50px 50px;
}

button:hover {
  cursor: pointer;
}
.btn-content {
  margin: auto 20px;
}
.btn-arrow {
  font-size: 25px;
  margin-top: 7px;
  margin-right: 5px;
}
button > p {
  margin: auto 0;
  text-decoration: none !important;
}

.link-button {
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .countryDetails {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .countryDetails__description,
  .countryDetails__description-column2 {
    margin-top: 20px;
    margin-left: 0px;
  }
  .countryDetails__description-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .countryDetails__flag {
    width: 100%;
  }
  button {
    margin: 20px 0 20px 0;
  }
  .countryDetails__description {
    margin-top: 0;
  }
}
