.header {
  height: 60px;
  display: flex;
  border-bottom: 1px solid var(--shadow-color);
  background-color: var(--el-color);
  color: var(--font-color);
}

.header__brand {
  margin: auto 0;
  margin-left: 60px;
  text-decoration: none;
  color: var(--font-color);
}

.header__theme {
  display: flex;
  margin: auto 80px auto auto;
  cursor: pointer;
}
.header__icon {
  margin-top: 2px;
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .header__brand {
    margin-left: 20px;
    font-size: 12px;
  }
  .header__theme {
    margin: auto 20px auto auto;
  }
}
